#content{width: 100%;border: solid 1px dimgray;height: 100%;background: lavender;margin-top: 10px;}
#content article{margin-top: 20px;margin-left: 20px;}
#content article header{color: red;font-weight: bold;}
